@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(0.9, 0.9);
    }

    100% {
        transform: scale(1, 1);
    }
}

body{
     background-color: #060d11;
}

.wrap {
    padding: 0;
   
}

/* desktops, tablets devices (768px and up) */
@media only screen and (min-width:768px) {


    .bg {
        content: url('../image/playgameworks-image.png');

        width: 100%;
        position: relative;
    }

    .cta-btn {
        position: absolute;
        content: url('../image/playgameworks-cta2.png');

        display: block;
        margin: -19% 0% 0% 134px;
        width: 36vw;
        animation: zoom-in-zoom-out 1.5s ease infinite;

    }
}

/* Tablets, phones devices (767.98px and down) */
@media only screen and (max-width:767.98px) {
    .bg {
        content: url('../image/mobile/playgameworks-image-m.png');
        width: 100%;
        position: relative;
    }

    .cta-btn {
        position: absolute;
        content: url('../image/playgameworks-cta2.png');
        display: block;
        margin-left: 21vw;
        width: 60vw;
        top: 55vw;
        animation: zoom-in-zoom-out 1.5s ease infinite;
    }
}