@font-face {
    font-family: Lexend;
    src: url('../styles/Lexend-Bold.ttf') format('opentype');
}

body {
    background-color: #bdbdbd;
    font-family: Lexend;
    font-weight: 500;
}

.btn-drop-shadow {
    filter: drop-shadow(0 7px 3px rgba(0, 0, 0, 0.46));
}

.main-bg {
    background: url('../images/bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-bg::before {
    content: "";
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: blur(5px) brightness(.6);
}

.animate-logo {
    transition: top 0.5s ease-in-out;
}
  
.animate-logo.open {
    top: 48%;
}

.animate-top-env {
    transition: top 0.2s ease-in-out;
}

.animate-top-env.open {
    top: -10.2%;
}